<% include partials/header %>

<div class="container home-page">
    <h2 class="catch-phrase">Don't Just Live Life. <em>ShareLyfe</em></h3>
    <hr>
    <div class="categories">
        <% categories.forEach(function(category) { %>
            <div class="one-category"><a href="/categories/<%= category._id %>"><%= category.name; %></a></div>
        <% }); %>
    </div>
    <hr>
    <div class="posts">
        <% posts.forEach(function(post) { %>
            <div class="one-post">
                <img src="<%= post.image %>" class="img-thumbnail">
                <a href='/posts/<%= post._id %>'><h5><%= post.title %></h5></a>
            </div>
        <% }) %>
    </div>
</div>

<% include partials/footer %>