<% include ../partials/header %>

    <div class="container">
        <h1>Profile for <%= currentUser.firstName %></h1>
        <h3>Reservations made by you</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item Reserved</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Payment Method</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            
            <tbody>
               <% createdByUser.forEach(function(postAndBooking) { %> 
                    <tr>
                        <% let bookDate = postAndBooking.booking.date; %>
                        <% let formattedBookDate = bookDate.getMonth() + 1 + '/'
                           + bookDate.getDate() + '/' + bookDate.getFullYear(); %>
                        
                        <td><%= postAndBooking.post.title %></td>
                        <td><%= postAndBooking.post.price %></td>
                        <td><%= formattedBookDate %></td>
                        <td><%= postAndBooking.booking.payment %></td>
                        <td>
                            <form 
                                action="/categories/0000/posts/<%= postAndBooking.post._id %>/bookings/<%= postAndBooking.booking._id %>?_method=DELETE" 
                                method="POST"
                                class="buttons">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            <a href="/categories/0000/posts/<%= postAndBooking.post._id %>/bookings/<%= postAndBooking.booking._id %>/edit"
                               class="btn btn-sm btn-info buttons">Edit</a>
                        </td>
                    </tr>
                
                <% }); %>
            </tbody>
        </table>
        
        
        <h3>Reservations for your own posts</h3>
    </div>
    
<% include ../partials/footer %>