<% include ../partials/header %>

    <div class="container">
        <h1>Profile for <%= currentUser.firstName %></h1>
        <h3>Reservations made by you</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item Reserved</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Payment Method</th>
                </tr>
            </thead>
            
            <tbody>
               <% for (let i in createdByUser) { %> 
                    <tr>
                        <% let bookDate = createdByUser[i].booking.date; %>
                        <% let formattedBookDate = bookDate.getMonth() + 1 + '/'
                           + bookDate.getDate() + '/' + bookDate.getFullYear(); %>
                        
                        <td><%= createdByUser[i].post.title %></td>
                        <td><%= createdByUser[i].post.price %></td>
                        <td><%= formattedBookDate %></td>
                        <td><%= createdByUser[i].booking.payment %></td>
                    </tr>
                
                <% } %>
            </tbody>
        </table>
        
        
        <h3>Reservations for your own posts</h3>
    </div>
    
<% include ../partials/footer %>